@import '@/assets/stylesheets/variables.scss';
@import '@/assets/stylesheets/mixins.scss';
body {
  margin: 0;
  padding: 0;
  background: #fcfbfc;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: $green;
}